<ion-view>
	<ion-nav-bar class="bar-positive">
	    <ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    </ion-nav-buttons>
    </ion-nav-bar>

	<ion-header-bar class="bar bar-positive">
		<div class="title">About Page</div>
	</ion-header-bar>
	<!-- Advertisement -->
	<ion-nav-buttons side="right">
           <img ng-src="img/codingate_logo_white.png" class="advert-img" >
    </ion-nav-buttons>
	</ion-content>
</ion-view>