<ion-view>
	<ion-nav-bar class="bar-positive">
	    <ion-nav-buttons side="left">
	        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
	    </ion-nav-buttons>
    </ion-nav-bar>

	<ion-header-bar class="bar bar-positive">
		<div class="title">About Us</div>
	</ion-header-bar>
	<!-- Advertisement -->
	<ion-nav-buttons side="right">
           <img ng-src="img/codingate_logo_white.png" class="advert-img" >
    </ion-nav-buttons>
    <ion-content style="padding:3%;">
     <h2> Let Us Tell You About Codingate’s Journey…</h2>
<p>Codingate was founded in May 2013 at SmallWorld in Phnom Penh, Cambodia .  We focus on developing interactive web applications, design services, and social media marketing. The business idea came from a project called ‘Skill Exchange Laptop’. After Monkol, the founder of Codingate, met some enthusiastic students who had a lot of technical skills and desire – but no laptops – he decided to start a project with students that develop technical solutions and in return do not ask for money, but for laptops. Within a few months, the team had what most start-ups take for granted: a room full of people able to program on their laptops. After this success story, they got investors on board and launched Codingate.
In less than a year, Codingate was an international start-up. The vision for Codingate continues to be focused on the team; “pool and leverage our collective genius to provide quality, easy-to-use software and marketing solutions giving our clients a cutting edge in the marketplace.” We envision a network of friends working together and supporting one another to create high quality products.</p>
<p>Version 1.0</p>
	</ion-content>
</ion-view>