<ion-view>
	<ion-nav-bar class="bar-assertive">
		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons>

		<!--<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-bookmark" ui-sref="main.favorites">
			</button>
		</ion-nav-buttons>-->
	</ion-nav-bar>

	<ion-header-bar class="bar bar-positive">
		<div class="title"><center>TNM TV Online</center></div>
	</ion-header-bar>

	<!--<div class="bar bar-subheader item-input-inset">
		<label class="item-input-inset">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search..." ng-model="searchText" ng-change="searchTextChanged()"/>
		</label>
	</div>-->
     
    
	<ion-content class="has-header" delegate-handle="mainScroll">
			
 
		<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
	  	</ion-refresher>

        <ion-slide-box on-slide-changed="slideChanged($index)" auto-play="true" does-continue="true">
          <ion-slide ng-repeat="post in recently_posts" class="item-content">
            <img ng-src="{{post.thumbnail_images.td_341x220.url}}" class="full-image" /> 
            <h4 id="title-in-slide">{{ post.title }}</h4>
            <h5 class="ion-clock" id="date-in-slide"> {{post.date}}</h5>
		    <h5 id="cate-in-slide"> {{post.categories[0].title}}</h5>
          </ion-slide>
        </ion-slide-box>

	  	<ion-list can-swipe="true">

			<ion-item class="item item-thumbnail-left item-text-wrap item-icon-right" ng-repeat="post in recent_posts | filter: {title: searchText}" href="#/main/postDetail/{{post.id}}">   
				<img ng-src="{{ post.thumbnail }}"/>
				<h2 id="title">{{ post.title }}</h2>
				<p ng-bind-html="post.excerpt"></p>
				<h4 class="ion-clock" style="width: 135px; float: left; color:#757575;"> {{post.date}}</h4>
				<h4 style="float: right; color:#757575;"> {{post.categories[0].title}}</h4>

				<button class="button icon ion-bookmark button-clear" ng-class="{'button-assertive':post.isFavorite}"></button>
				<ion-option-button class="button-dark" ng-click="toggleFavorite(post)">
					<i class="icon ion-bookmark"></i>
				</ion-option-button>
			</ion-item>
		</ion-list>

		<ion-infinite-scroll ng-if="canLoadMore()"
		    on-infinite="loadMore()" immediate-check="false">
	  	</ion-infinite-scroll>
	</ion-content>
</ion-view>