<ion-view>
	<ion-nav-bar class="bar-positive">
		<ion-nav-back-button></ion-nav-back-button>
        
<!-- 		<ion-nav-buttons side="left">
			<button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
		</ion-nav-buttons> -->
	</ion-nav-bar>

	<ion-header-bar class="bar bar-positive">
				<div class="title">{{ post_category }}</div>
	</ion-header-bar>
	<!-- Advertisement -->
    <ion-nav-buttons side="right">
          <a href="http://www.codingate.com/">
           <img ng-src="img/codingate_logo_white.png" class="advert-img" >
           </a>
    </ion-nav-buttons>

	<ion-content class="has-header" style="width:100% !important">
			<img class="full-image" src="{{ post_image }}" id="image_shadow" />
			<div class="item item-body">
				<h2 style="font-size: 20px; font-family: khmer OS;font-weight: bold;">{{ post_title }} </h2>
				<p class="ion-clock" id="date-in-slide-detail"> {{post_date}}</p>
				<p id="cate-in-slide-detail">{{post_category}}</p>
				<p ng-bind-html="post_content"></p>			
				<p><a href="#" class="subdued"> {{ post_commentCount }} Comments</a>
					<a href="#" class="subdued"> {{ post_views }} Views</a>
				</p>
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left">
				<a class="tab-item" href="#">
			      <i class="icon ion-thumbsup"></i>
			      Like
			    </a>
			    <a class="tab-item" href="#" >
			      <i class="icon ion-chatbox"></i>
			      Comment
			    </a>
			    <a class="tab-item" ng-click="Share();">
			      <i class="icon ion-share"></i>
			      Share
			    </a>
			</div>
			<h5 style="padding:10px" class="more_news_related">ព័ត៍មានបន្ថែមទាក់ទងនឹង​ {{post_category}}</h5>
			<ion-item class="item item-text-wrap" id="item_content"  ng-repeat="post in category_posts | limitTo: 4 " ng-if="post_id != post.id" href="#/main/postDetail/{{post.id}}">
				<h2 id="title">{{ post.title }}</h2>  
					<div class="row">
						<div class="col-25">	
							<img class="menu-img" ng-src="{{ post.thumbnail }}"/>
						</div>
						<div class="col-60" style="margin-left:5%;">
							<p class="content-menu" ng-bind-html="post.excerpt"></p>
							<ion-option-button class="button-dark" ng-click="toggleFavorite(post)">
								<i class="icon ion-bookmark"></i>
							</ion-option-button>
						</div>
					</div>
					<div class="row" style="width:95%;">
					   <div class="col-50">
                     	 <h4 class="ion-clock" style="font-family: Verdana, Geneva, sans-serif;"> {{post.date}}</h4>
                       </div>
                       <div class="col-50">
                       <h4 style="float:right;font-family: khmerNewOs;"> {{post.categories[0].title}}</h4>
                       <div style="float:right;margin-top:-10px;" class="button icon ion-bookmark button-clear" ng-class="{'button-assertive':post.isFavorite}"></div>
                       
                      </div>
					</div>  
                       
			</ion-item>
	</ion-content>

</ion-view>
