/* Empty. Add your own CSS if you like */

#big-header-logo{
    width:110px;
    height:auto;
    margin-bottom: 15px;
     margin-left: 80px; 
     display:block;
     padding-top:20px;
 }

#shadow_slide::before{
content: "";
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
-webkit-box-shadow: inset 0px -122px 179px -27px rgba(0,0,0,0.77);
-moz-box-shadow: inset 0px -122px 179px -27px rgba(0,0,0,0.77);
box-shadow: inset 0px -122px 179px -27px rgba(0,0,0,0.77);
}

#title-in-slide{
 position: absolute; 
 margin-top: -33%; 
 color:#fff; 
 text-align: center; 
 padding: 3%;
 font-size: 19px;
 font-weight: bold;
 text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#date-in-slide{ 
    position: absolute;
    margin-top: -30px; 
    color:#fff; 
    text-align: center; 
    font-family: khmer OS; 
    float: left; 
    padding-left: 5px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
#cate-in-slide{ 
    position: absolute; 
    margin-top: -30px; 
    color:#fff; 
    text-align: right; 
    font-family: khmer OS; 
    width: 100%;
    float: right; 
    padding-right: 5px;
}
#date-in-slide-detail{ 
    position: absolute;
    margin-top: -10px; 
    text-align: center; 
    font-family: Verdana, Geneva, sans-serif; 
    float: left; 
    color:#757575;}
#cate-in-slide-detail{ 
    margin-top: -3%;
    text-align: right;
    font-family: khmer OS;
    color: #757575;
}
#title{
    font-size: 19px; 
    font-weight: 600;
    width: 100%;
}
.menu-img{
	width: 100% !important;
}
.content-menu{
    width: 100% !important;
    text-align: justify;
}
.abc div{
    border:1px solid;
}
.item-body p img{
	max-width: 100% !important;
	height: auto;
}
.item-body p{
	text-align: justify;
}
.advert-img{
	width: 100%;
    float: right;
}

.more_news_related{
    font-weight: bold;
    padding-left: 4%;
}
.pane { 
    position: absolute !important; 
}
p{
    font-size: 16px !important;
}
#item_content{width: 107%;}
#post_excerpt{ width: 125%;}